!/files/config
/files/config/*
!/files/config/autorandr
!/files/config/alacritty
!/files/config/i3
!/files/config/istatus
!/files/config/nvim
!/files/config/rofi
!/files/config/i3blocks
!/files/config/tmux
!/files/config/git
