---
# Reusable task for linking dotfiles and config directories
#
# For dotfiles:
#   - name: Link git dotfiles
#     include_tasks: ../../common/tasks/includes/link_dotfiles.yml
#     vars:
#       dotfiles:
#         - { src: 'gitconfig', dest: '.gitconfig' }
#       role_name: git
#
# For config directories:
#   - name: Link tmux config
#     include_tasks: ../../common/tasks/includes/link_dotfiles.yml
#     vars:
#       config_dir: true
#       role_name: tmux

- name: Create symlinks for dotfiles
  file:
    src: "{{ role_path }}/files/{{ item.src }}"
    dest: "{{ lookup('env', 'HOME') }}/{{ item.dest }}"
    state: link
    force: true
  loop: "{{ dotfiles | default([]) }}"
  when: dotfiles is defined and not (config_dir | default(false))
  register: link_result
  failed_when: false
  tags: [link]

- name: Create symlinks for config directories
  file:
    src: "{{ role_path }}/files/config"
    dest: "{{ lookup('env', 'HOME') }}/.config/{{ role_name }}"
    state: link
    force: true
  when: config_dir | default(false) and role_name is defined
  register: config_link_result
  failed_when: false
  tags: [link]
