---
- name: Personal Notebook Setup
  hosts: localhost
  become: false
  gather_facts: false

  roles:
    - { role: common, tags: [common, base] }
    - { role: git, tags: [git, dev, base] }
    - { role: zsh, tags: [zsh, base] }
    - { role: nushell, tags: [nushell, shell] }
    - { role: tmux, tags: [tmux, base] }
    - { role: nvim, tags: [nvim, base] }
    - { role: starship, tags: [starship, base] }
    - { role: atuin, tags: [atuin, base] }
