---
- name: Server Infrastructure Setup
  hosts: localhost
  become: false
  gather_facts: false

  vars:
    os_name: "{{ os | default('debian') | lower }}"
    ansible_facts:
      os_family: "{{ os_name }}"
    os_task_file: "{{ os_name }}.yml"

  roles:
    # Infrastructure
    - { role: k3s, tags: [k3s, infra] }
